{% extends 'base.html.twig' %}
{% block title %}
Docupet web application
{% endblock %}
{% block body %}
<h1>Welcome {{ app.user.username }}</h1>


<ul>
    {%  for note in notes %}
        <li>{{ note }}</li>
    {% endfor %}
</ul>

{% endblock %}